.footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-self: flex-end;
}
.footer .contactInfo {
    display: flex;
    margin: 0 4rem 0 12rem ;
    align-items: center;
    
}
.footer a {
  margin: 5px 10px;
}
.icons {
  color: black;
}
.footer p {
  font-family: "Pokemon Solid", sans-serif;
  text-decoration: none;
  color: #39739d;
  font-size: 13px;
  letter-spacing: 1.3px;
}

