.background{
    background-image: url("../assets/Pikachu.jpg.optimal.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}